h1 {text-align: center;}
p {text-align: center;}

.CenterAlign {
  text-align: center;
  font-size: 0.75em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {background-color: linen;}

.menu-button {
  background-color: #e6f0fa;
  padding-left: 10%;
  padding-right: 10%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; 
  color: inherit;
}

.menu-button:hover {background-color: #B8D3F2;}
.menu-button-active {
  background-color: #B8D3F2;
  pointer-events: none;
}

.menu {text-align: center;}

#CastleLink, #OminousPortraitLink {display: inline-block;}

#Castle, #OminousPortrait {
  max-width: 120px; /* Changed from 150px to 120px */
  transition: transform 0.5s;
}

#CastleLink:hover #Castle, #OminousPortraitLink:hover #OminousPortrait {transform: scale(1.15);}

#ImagePopup {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none; 
}